.breadcrumbs{
    margin-left: 20px;
}
.footer {
    background-color: #f7f7f7;
}
.last-updated {
    text-align: right;
    padding-right: 35px;
}
.text-small {
    font-size: small;
}
        
        
html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.jumbotron {
    height: 100%;
        background-color: #363636;
            color: #e4e4e4;
            vertical-align: middle;
  background-image: linear-gradient(
      rgba(100, 100, 100, 0.9), 
      rgba(0, 0, 0, 0.9)
    ), url('../images/EwSDje.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.btn-reveal {
	color: #fff;
    background-color: #363636;
}

.Aligner {
	height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}    
.Aligner-item--bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.content {
    flex: 1;
    overflow: auto;
}

.table-info {
    font-size: 12px;
}

.table-head {
    background: #d9edf7 !important;
}
